/* background color */

body {
  background: white;
}
/* header */

header h1 {
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  margin: 0;
  padding-top: 20px;
}

header {
  background: whitesmoke;
  margin-bottom: 40px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a:link {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/* Main and headings */

h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding-top: 20px;
}

h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 3px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 3px;
}

p,
ul,
ol {
  color: black;
  font-size: medium;
}

article {
  background: rgb(252, 252, 252);
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

.group img {
  width: 100%;
}

/* forms */

/* form label {
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
*/
form textarea {
  /* height: 4.75rem;
  width: 100%;
  color: #000;
  font-size: 16px; */
  margin-bottom: 20px;
}

form button {
  padding: 10px 16px;
  border-radius: 10px;
  border: 0;
  background: black;
  color: white;
}

/* Psuedo Classes for links*/

a:link {
  color: black;
}
a:visited {
  color: teal;
}
a:hover {
  color: blue;
}
a:active {
  color: red;
}

/* Footer goes here */

footer {
  background: black;
  text-align: center;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* When window is larger than 600px view */

@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 200;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul li a {
    color: white;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

  article {
    padding: 0 10%;
  }

  .group {
    display: flex;
    flex-direction: row;
  }
}
